
<div class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
    
          <a href="#hero" class="logo d-flex align-items-center me-auto">
            
            <h1 class="sitename">Dr Fixit </h1>
        
          </a>
    
          <nav id="navmenu" class="navmenu">
            <ul>
              <li><a href="#hero" class="active">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav>
    
          <!-- <a class="cta-btn" href="index.html#about">Get Started</a> -->
    
        </div>
      </header>
      <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">
    
          <img src="assets/imgs/Herobg.jpg" alt="" data-aos="fade-in">
    
          <div class="container d-flex flex-column align-items-center">
            <h2 data-aos="fade-up" data-aos-delay="100">Dr Fixit</h2>
            <h2 data-aos="fade-up" data-aos-delay="100">WaterProofing</h2>
            <h2 data-aos="fade-up" data-aos-delay="100">Solutions</h2> <br>
            <!-- <h2 data-aos="fade-up" data-aos-delay="100">PLAN. LAUNCH. FixIt.</h2> -->
            <p data-aos="fade-up" data-aos-delay="200">Protect your house from water Damage</p>
            <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
              <a href="#about" class="btn-get-started">Get Started</a>
              <!-- <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
            </div>
          </div>
    
        </section><!-- /Hero Section -->
    
        <!-- About Section -->
        <section id="about" class="about section">
    
          <div class="container">
    
            <div class="row gy-4">
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3>Why Choose Us?</h3>
                <img src="assets/imgs/About.png" class="img-fluid rounded-4 mb-4" alt="">
                <p>WE have are providing top-notch waterproofing services. With unique solutions tailored for different areas of your home, this brand is your comprehensive answer to water leakage problems, 
                     Whether you're looking to repair, renovate, or construct a new home,
                     We have  you covered. With a focus on long-lasting durability, our services ensure your peace of mind. Rely on US for quality waterproofing solutions that achieve outstanding results, keeping your home dry and safe for the future</p>
              </div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                  <p class="fst-italic">
                    We have Dedicated Team members, Building trust among team members fosters a supportive environment where individuals feel valued and confident in each other's abilities
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle-fill"></i> <span>Improves Indoor Air Quality.</span></li>
                    <li><i class="bi bi-check-circle-fill"></i> <span>Peace of Mind.</span></li>
                    <li><i class="bi bi-check-circle-fill"></i> <span>Increases Property Value.</span></li>
                  </ul>
                  
    
                  <div class="position-relative mt-4">
                    <img src="assets/imgs/icon.jpeg" class="img-fluid rounded-4" alt="">
                  </div>
                </div>
              </div>
            </div>
    
          </div>
    
        </section><!-- /About Section -->
    
        <!-- Stats Section -->
        <section id="stats" class="stats section light-background">
    
          <div class="container" data-aos="fade-up" data-aos-delay="100">
    
            <div class="row gy-4">
    
              <div class="col-lg-3 col-md-6">
                <div class="stats-item d-flex align-items-center w-100 h-100">
                  <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Happy Clients</p>
                  </div>
                </div>
              </div><!-- End Stats Item -->
    
              <div class="col-lg-3 col-md-6">
                <div class="stats-item d-flex align-items-center w-100 h-100">
                  <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="110" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Projects</p>
                  </div>
                </div>
              </div><!-- End Stats Item -->
    
              <div class="col-lg-3 col-md-6">
                <div class="stats-item d-flex align-items-center w-100 h-100">
                  <i class="bi bi-headset color-green flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Hours Of Support</p>
                  </div>
                </div>
              </div><!-- End Stats Item -->
    
              <div class="col-lg-3 col-md-6">
                <div class="stats-item d-flex align-items-center w-100 h-100">
                  <i class="bi bi-people color-pink flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Hard Workers</p>
                  </div>
                </div>
              </div><!-- End Stats Item -->
    
            </div>
    
          </div>
    
        </section><!-- /Stats Section -->
    
        <!-- Services Section -->
        <section id="services" class="services section">
    
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>Featured Srvices<br></p>
          </div><!-- End Section Title -->
    
          <div class="container" data-aos="fade-up" data-aos-delay="100">
    
            <div class="row gy-5">
    
              <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-item">
                  <div class="img">
                    <img src="assets/imgs/BWP.png" class="img-fluid" alt="">
                  </div>
                  <div class="details position-relative">
                    <div class="icon">
                      <i class="bi bi-water"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                      <h3>Building WaterProofing</h3>
                    </a>
                    <p>Building waterproofing is a crucial service that protects your residential, commercial, or industrial property from water damage, leaks, and moisture-related issues.
                        Ensure the safety and longevity of your building!
                    </p>
                  </div>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="service-item">
                  <div class="img">
                    <img src="assets/imgs/crack.png" class="img-fluid" alt="">
                  </div>
                  <div class="details position-relative">
                    <div class="icon">
                      <i class="bi bi-tools"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                      <h3>Crack WaterProofing</h3>
                    </a>
                    <p>Crack waterproofing is a specialized service designed to seal and protect cracks in walls, foundations, basements, and other structures from water infiltration.</p>
                  </div>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                <div class="service-item">
                  <div class="img">
                    <img src="assets/imgs/tank.png" class="img-fluid" alt="">
                  </div>
                  <div class="details position-relative">
                    <div class="icon">
                      <i class="bi bi-droplet-half"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                      <h3>Water Tank WaterProofing</h3>
                    </a>
                    <p>Water tank waterproofing is a specialized service designed to prevent leaks, seepage, and water contamination in overhead and underground water tanks. Over time, cracks, weak joints, and porous surfaces can develop in concrete, plastic, or metal tanks, leading to water leakage, structural damage, and bacterial growth.</p>
                  </div>
                </div>
              </div><!-- End Service Item -->
    
            </div>
    
          </div>
    
        </section><!-- /Services Section -->
    
    
    
 
    
        <!-- Contact Section -->
        <section id="contact" class="contact section">
    
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
          </div><!-- End Section Title -->
    
          <div class="container" data-aos="fade-up" data-aos-delay="100">
    
            <div class="row gy-4">
              <div class="col-lg-6 ">
                <div class="row gy-4">
    
                  <div class="col-lg-12">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                      <i class="bi bi-geo-alt"></i>
                      <h3>Address</h3>
                      <p>Andhra Prades, Rajahmundry, pin 533103</p>
                    </div>
                  </div><!-- End Info Item -->
    
                  <div class="col-md-6">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                      <i class="bi bi-telephone"></i>
                      <h3>Call Us</h3>
                      <p>+91 9948227227</p>
                    </div>
                  </div><!-- End Info Item -->
    
                  <div class="col-md-6">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                      <i class="bi bi-envelope"></i>
                      <h3>Email Us</h3>
                      <p>Dr.fixitwaterproofingsolution&#64;gmail.com</p>
                    </div>
                  </div><!-- End Info Item -->
    
                </div>
              </div>
    
              <div class="col-lg-6">
                <form  method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
                  <div class="row gy-4">
    
                    <div class="col-md-6">
                      <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                    </div>
    
                    <div class="col-md-6 ">
                      <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                    </div>
    
                    <div class="col-md-12">
                      <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                    </div>
    
                    <div class="col-md-12">
                      <textarea class="form-control" name="message" rows="4" placeholder="Message" required=""></textarea>
                    </div>
    
                    <div class="col-md-12 text-center">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
    
                      <button type="submit">Send Message</button>
                    </div>
    
                  </div>
                </form>
              </div><!-- End Contact Form -->
    
            </div>
    
          </div>
    
        </section><!-- /Contact Section -->
    
      </main>
      <footer id="footer" class="footer dark-background">

        <div class="container footer-top">
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
              <a href="index.html" class="logo d-flex align-items-center">
                <span class="sitename">Dr FixIt WaterProofing Solutions </span>
              </a>
              <div class="footer-contact pt-3">
                <p>Andhra Pradesh</p>
                <p>East Godavari, Pin 533103</p>
                <p class="mt-3"><strong>Phone:</strong> <span>+91 9948227227</span></p>
                <p><strong>Email:</strong> <span>Dr.fixitwaterproofingsolution&#64;gmail.com</span></p>
              </div>
              <div class="social-links d-flex mt-4">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
              </div>
            </div>
    
          </div>
        </div>
    
        <div class="container copyright text-center mt-4">
          <p>© <span>Copyright</span> <strong class="px-1 sitename">Dr Fixit WaterProofing Solutions</strong> <span>All Rights Reserved</span></p>
          <div class="credits">
           - <a >Anil Kumar BEERA </a>  
          </div>
        </div>
    
      </footer>
    
</div>
<router-outlet />